<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript">
	function send_go(f){
		f.submit();
	}
	function send_go2(f){
		f.submit();
	}
</script>
<body>
	<form action = "/01_servlet/Ex14_1" method = "post">
		<input type = "button" value="오늘 날짜 구하기" onclick="send_go(this.form)">	
	</form>
	<hr>
	
	<form action = "/01_servlet/Ex14_2" method = "post">
		<input type = "submit" value="오늘 날짜 구하기">	
	</form>
	<hr>
	<form action = "/01_servlet/Ex14_3" method = "post">
		<input type = "button" value="오늘 날짜 구하기" onclick="send_go2(this.form)">	
	</form>
	<hr>
	
</body>
</html>